*{
  border:0;
  padding: 0;
  margin: 0;
  --bgc: rgb(0, 0, 0);
  --fgc: rgb(29, 29, 29);
  --hbgc: rgb(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-color:var(--bgc);
}
.welcome-layout{
  height: 100%;
  display: grid;
  place-content: center;
}
.welcome-layout .container{
  display: grid;
  gap: 16px;
}
.game-layout{
  height: 100%;
  display:none;
  gap: 20px;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.player-info{
  font-size: 2em;
}
.grids{
  flex: 1;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 6px;
  place-content: center;
}
.part{
  background-color: var(--fgc);
  font-size: 50px;
  color:white;
  display: grid;
  place-items: center;
}
.player-layout{
  height: 100%;
  display: none;
  place-items: center;
}
.player-layout .container{
  min-width: 90%;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 20px;
}
.players{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 200px;
  place-content: center;
  gap: 17px;
}
.player, .ai{
  background-color: var(--fgc);
  display: grid;
  padding: 20px;
  place-content: center;
  gap:10px;
  place-items: center;
}
button{
  background-color: var(--fgc);
  border:0;
  padding: 6px 20px;
}
input, select{
  background-color: rgba(255, 255, 255, 0.153);
  padding: 3px 5px;
}
.greet-layout{
  display: none;
  place-content: center;
  position: absolute;
  inset: 0;
}
.greet-layout .container{
  padding: 60px 100px;
  background-color: rgb(0, 0, 0, 0.7);
  display: grid;
  gap: 20px;
}
.options{
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
}
.greeting{
  text-align: center;
}
input:hover, select:hover{
  background-color: var(--hbgc);
}
button:hover{
  background-color: var(--hbgc);
  border: 1px solid var(--fgc);
}
button:active{
  color: greenyellow;
  border-color: greenyellow;
}
.part.hover{
  color: rgb(63, 63, 63);
}

@media only screen and (max-width: 600px){
  .grids{
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }
}
