*{
  border:0;
  padding: 0;
  margin: 0;
  --bgc: rgb(0, 0, 0);
  --fgc: rgb(29, 29, 29);
  color: white;
  border-radius: 10px;
}
body, html{
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-color:var(--bgc);
}
.game-layout{
  height: 100%;
  display:none;
  place-content: center;
  place-items: center;
  gap: 20px;
}
.player-info{
  font-size: 2em;
}
.grids{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 6px;
  place-content: center;
}
.part{
  background-color: var(--fgc);
  font-size: 50px;
  color:white;
  display: grid;
  place-items: center;
}
.welcome-layout{
  height: 100%;
  display: grid;
  place-items: center;
}
.welcome-layout .container{
  min-width: 90%;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 20px;
}
.players{
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 200px;
  place-content: center;
  gap: 17px;
}
.player{
  background-color: var(--fgc);
  display: grid;
  padding: 20px;
  place-content: center;
  gap:10px;
}
button{
  background-color: var(--fgc);
  border:0;
  padding: 6px 20px;
}
input{
  background-color: rgba(255, 255, 255, 0.153);
  padding: 3px 5px;
}
.greet-layout{
  display: none;
  place-content: center;
  position: absolute;
  inset: 0;
}
.greet-layout .container{
  padding: 60px 100px;
  background-color: rgb(0, 0, 0, 0.99);
  display: grid;
  gap: 20px;
}
.options{
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
}
.greeting{
  text-align: center;
}
